{% load staticfiles %}
<html>
	<head>
		<link rel="stylesheet" type="text/css" href ="{% static "CalLoop/index.css" %}">
	</head>
	<body>

    <div class="wrapper">
		<div class="container">
			<h1>Join CalLoop</h1>
			
			<form class="form">
				<input type="first" placeholder="First name">
				<input type="last" placeholder="Last name">
				<input type="email" placeholder="Email">
				<input type="text" placeholder="Username">
				<input type="password" placeholder="Password">
				<input type="password" placeholder="Re-enter Password">
				<button type="signup" formaction="signup/" id="signup-button">Sign Up</button>
			</form>
		</div>
		
	</div>
    
  </body>
</html>


